<%= form_with(model: professional, local: true) do |form| %>
  <% if professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% professional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :professional_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :professional_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :professional_email %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github, id: :professional_github %>
  </div>

  <div class="field">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, id: :professional_linkedin %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :professional_website %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
