<p id="notice"><%= notice %></p>

<h1 id='title'>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Github</th>
      <th>Linkedin</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= link_to professional.name, show_user_path(id: professional.id) %></td>
        <td><%= professional.phone %></td>
        <td><%= professional.email %></td>
        <td><%= professional.github %></td>
        <td><%= professional.linkedin %></td>
        <td><%= professional.website %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


